:root {
    --black: #000;
    --white: #fff;
    --darkgray: #191c24;
    --red: #eb1616;
    --light-gray: rgb(117, 121, 126);
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.red {
    color: var(--red) !important;
}