header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--darkgray);
}

header .logo {
    width: 15%;
}

header .logo img {
    display: block;
    width: 100%;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    font-weight: bold;
}

header nav ul button {
    font-size: 1rem;
}

/* Section Links*/
header nav a {
    text-decoration: none;
    color: var(--white);
}

header select {
    background: none;
    outline: none;
    color: var(--white);
    border: none;
    text-align: center;
    font-size: medium;
}

header nav i {
    color: var(--white);
}

nav ul li.appointment button {
    height: 2rem;
    width: 8rem;
}


nav {
    --display: none;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul a {
    text-decoration: none;
    color: inherit;
}

nav ul li {
    color: white;
}

nav ul li.dropdown {
    width: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
}

nav ul li.dropdown .dropbtn {
    background-color: inherit;
}

nav ul li.dropdown ul.dropdown-list {
    padding: 1rem;
}

nav ul li.dropdown ul.dropdown-list li {
    display: block;
    padding-bottom: 0.5rem;
}

nav ul li.dropdown:hover {
    --display: block;
}

nav ul.dropdown-list {
    /* position: relative; */
    background-color: var(--darkgray);
    display: var(--display);
    width: 100%;
}

nav ul.dropdown-list {
    position: absolute;
    top: 100%;
    padding: 0;
    z-index: 1;
}

nav ul li {
    list-style: none;
}